header {
    padding: 20px;
    text-align: center;
    background: black;
}

header h1 {
    color: white;
}

.row {
    background-color: #372b4e;
    color: black;
    padding-left: 20px;
    width: 200px;
}

#date-and-time {
    padding-right: 25px;
    text-align: end;
}

.search-card {
    min-width: 200px;
}
.custom-card-head {
    
    max-height: 400px;
    max-width: 2000px;
}

.custom-image {
    vertical-align: auto;

}

label {
    color: white;
}


.ticker {
    background-color: black;
    width: 100%;
    height: 75px;
    top: 0;
    position: sticky;
    z-index: 1000;
}

.hidden {
    display: none;
}