header {
    padding: 20px;
    text-align: center;
    background: black;
}

.row {
    background-color: #372b4e;
    color: black;
    padding-left: 20px;
    width: 200px;
}

#date-and-time {
    padding-right: 25px;
    text-align: end;
    box-shadow: none;
}

.search-card {
    min-width: 200px;
}

.custom-card-head {
    
    max-height: 400px;
    max-width: 2000px;
    padding-left: 75px;
}

.hide {
    display: none;
}

@media only screen and (min-width: 1920px) {
    .custom-card-head {
        max-inline-size: 750px;
        background-color: white;
        text-align: left;
        box-shadow: none;
    }
}

@media screen and (min-width: 1920px){
    #date-and-time  {
        text-align: start;
    }
}

@media screen and (min-width: 1920px){
    .custom-image  {
        box-shadow: none;
    }
}

@media screen and (max-width: 640px) {
    #date-and-time {
        background-color: transparent;
        color: whitesmoke;
        text-decoration-line: overline;
    }
}


label {
    color: white;
}


.ticker {
    background-color: black;
    width: 100%;
    height: 75px;
    top: 0;
    position: sticky;
    z-index: 1000;
}

.hidden {
    display: none;
}

.uk-cards {
    max-height: 398px;
}

.uk-link-button {
    background-color: rgb(26, 212, 26);
    color:white;
    max-height: 50px;
}



@media screen and (min-width: 1000px){
    .uk-cards {
        background-color: white;
    }
}
